RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.juanestebanaristizabals.com [NC]
RewriteRule ^(.*)$ https://juanestebanaristizabals.com/$1 [L,R=301]
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
